{% extends 'layout/main.html' %}

{% block title %} Inventario {% endblock %}

{% block body %}
<h1>Inventario</h1>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Código</th>
            <th>Nombre</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for articulo in articulos %}
        <tr>
            <td>{{ articulo.id() }}</td>
            <td>{{ articulo.codigo() }}</td>
            <td>{{ articulo.nombre() }}</td>
            <td>
                <a href="{{ url_for('articulos_edit', id=articulo.id()) }}" class="btn btn-primary">Editar</a>
                <a href="{{ url_for('articulos_delete', id=articulo.id()) }}" class="btn btn-danger" onclick="return confirm('Desea eliminar el elemento seleccionado?')">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}